@import "tailwindcss";

@theme {
    --color-twitterWhite: #e7e9ea;
    --color-twitterBlue: #308C08;
    --color-twitterBorder: #2f3336;
    --color-twitterLightGray: #71767b;
    --color-twitterDarkGray: #17181C;
}

body {
  background-color: #171717;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

